.customers-section {
    padding: 80px 0 120px;
}
.item {
    width: 298px;
    margin: 0 15px;
}
.item-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
    background-color: #E2E2E2;
    border-radius: 7px;
    padding: 10px 22px 10px;
    margin-bottom: 22px;
    
}
.item-sign {
    display: flex;
    justify-content: space-around;
}
.item-text::after {
    content: "";
        width: 0; 
        height: 0; 
        display: block;
        border-left: 20px solid transparent; 
        border-right: 20px solid transparent; 
        border-top: 20px solid #E2E2E2;
        position: absolute;
        
}
.item-sign-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.item-sign-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 10px;
}
.name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    vertical-align: middle;
    /* text-align: right; */
}
.vocation {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #86878B;
    text-transform: capitalize;
    /* text-align: right; */
    vertical-align: middle;
}
.span-name {
    margin-bottom: 100px;
}
.title-text-p {
    /* margin: 10px 0; */
}
@media (max-width: 800px) {
    .item {
        margin-bottom: 50px;
        max-width: 500px;
        width: 100%;
    }
    .item:last-child {
        margin-bottom: 0;
    }
    .wrap {
        
    }
}